.font-class {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
header{
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    


}

/* Styles shared */
.borders{
    margin: 20px;
}
.btn-prime{
    background-color: rgba(13, 19, 33, 1);
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    padding: 21px 24px;
    font-size: 20px;
    font-weight: 600;
    
}
.btn2{
    border: solid 1px;
    color:rgba(13, 19, 33, 1);
    padding: 16px 14px;
    font-size: 20px;
    font-weight: 600;
    height: fit-content;
    
}
.descrip{
    font-weight: normal;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.HeroSec{
    display: flex;
    justify-content:center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 131px 0px 74px;
    font-size: 20px;
    font-weight: bold;
}

/* banners */
.banner-content{
    font-size:28px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Description{
    font-weight: 800;
}

.Why{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 97px;
}
  
main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Details{
    display: flex;
    background-color: white;
    border: solid 0px ;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 97px;
    margin: 32px 60px 40px;
}
main section {
    border-radius: 10px;
    background-color: rgb(239, 242, 243);
    margin: 74px 152px 90px 148px;
    background-size: contain;
}
.Align{

    align-items: right;
    text-align: center;
}

.margin{
    margin-top: 120px;
}
.perfection{
    margin: 15px;
}
.Hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Cards */
.cards2{
    margin-top: 30px;
}
.Cards{
    margin: 151px 150x 111px;
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
}
.HTML{
    border-radius: 15px;
    padding: 15px;
    background-color:rgba(255, 76, 30, 0.05) ;
    background-size: contain;
    margin: 15px;
}
.CSS{
    border-radius: 15px;
    padding: 15px;
    background-color: rgba(0, 76, 232, 0.05);
    margin: 15px;
    background-size: contain;
}
.JavaScript{
    border-radius: 15px;
    padding: 15px;
    background-color: rgba(255, 223, 0, 0.05);
    margin: 15px;
    background-size: contain;
}
/* cards2 */
.React{
    display: flex;
    flex-direction:row;

    border: solid 1px;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
}
.nodeJS{
    display: flex;
    flex-direction:row;
    border: solid 1px;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
}
.MongoDB{
    display: flex;
    flex-direction:row;
    border: solid 1px;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
}
.Ending{
    margin: 30px;
    border: solid 0px;
    border-radius: 20px;
    background-image: url('../assets/handshake.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
    justify-content: center;
}